html, body{
  overflow-x:hidden;
}
body {
  font-family: "Poppins", Helvetica, Arial, sans-serif
  color:#3333333;
}
h1, h2, h3, h4, h4, h6 {
  font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
}
h2 {
  font-size:36px;
  font-size: normal;
  margin-bottom: 5px;
}
p {
  font-size:22px;
  line-height: 28px;
  font-weight:100;
}
/* Grid */
.container{
margin-right: auto;
margin-left: auto;
padding-left: 15px;
padding-right: 15px;
position:relative;
}
.container:before,
.container:after {
  content:" ";
  clear:both;
}
.one-half, .one-third, .one-fourth {
  width: 96%;
  float: left;
  position: relative;
  min-height: 1px;
  margin: 0 2% 20px;
}